<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center wow zoomIn" id="i18_blog">
            <div style="height: 80px;"></div>
            <a href="https://drive.google.com/file/d/1f00gfNtB5OUbNpE4Qcoe6jGG1Wo4I2PF/view?usp=sharing">Click here for my resume</a>
            <a class="btn btn-lg btn-default btn-rounded btn-outline wow bounceIn" href="{{ "/blog/" | prepend: site.baseurl }}"><span data-i18n="blog.my_blog">My Blog</span></a>
            <div style="height: 80px;"></div>
        </div>
    </div>
</div>
