---
layout: resume
title: Resume
permalink: /blog/
---

<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Resume</h1>
    </div>
</div>

<div class="row">
    <embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=https://drive.google.com/file/d/1f00gfNtB5OUbNpE4Qcoe6jGG1Wo4I2PF/view?usp=sharing" width="500" height="375">

</div>

